{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Main</title>
</head>
<body>
    
    <h1>Main</h1>

    <button>
        <a href="/pin-create-tool/">Create</a>
    </button>

    {% for el in pins %}
        <div>
            <h2>{{ el.title }}</h2>
                {% if el.pin %}
                    <img src="{{ BASIC_DIR }}{{ el.pin.url }}">
                {% endif %}
            <p>{{ el.description }}</p>
        </div>
    {% endfor %}
</body>
</html>